/* Google Font imports - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  /* --primary-color: #695cfe; */
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-image: url('../images/login_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */

.background-img {
  background-color: #707070;
  background-image: url('../images/login_background_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: 100vh;
}

.left-title {
  font-size: 3em;
}

.icon {
  color: white;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.5);
}

.main-content {
  height: 100vh;
}

.form-box {
  background-color: var(--sidebar-color);
  border-radius: 12px;
}

.register-form {
  display: none;
}
